/* estilos seccion 1*/
.seccion1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    width: 100%;
    height: 600px;
    background-image: url(../Multimedia/FondoSeccion_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    font-size: 30px;
    font-weight: 300;
    color: white;

}

.seccion1 h1 {
    margin-right: 10px;
    background-color: $fondoTexto;
    padding-right: 10px;
}

.seccion1 p {
    margin-right: 10px;
    background-color: $fondoTexto;
    padding-right: 10px;
}


/*inicio estilos seccion2*/

.seccion2 {
    background-color: $colorSecundario;
}

.text_central {
    text-align: center;
    padding-top: 40px;
}

.text_central h2 {
    font-size: 40px;
    font-weight: 400;
}

.servicios_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 24px;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    padding: 30px;
    justify-content: center;
}

.caja_servicios {
    text-align: center;
}

.caja_servicios img {
    max-width: 100%;
    width: 400px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 20px;
    object-fit: cover;
    transition: all 0.3s;
}

.caja_servicios img:hover {
    transform: scale(1.1);
}



.caja_servicios p {
    font-size: 20px;
    margin-bottom: 15px;
}

.caja_servicios h5 {
    font-size: 18px;
    font-weight: 700;
    color: grey;
}



/*fin estilos seccion2*/

/*--inicio estilos seccion3--*/

.seccion3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    height: 300px;
    background-color: $colorPrincipal;
}

/*--Fin estilos seccion3--*/

/*--inicio estilos seccion4--*/
.seccion4 {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../Multimedia/imagen_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    font-size: 45px;
    color: white;
    align-items: center;
    text-align: center;

}

.seccion4 h2 {
    font-weight: lighter;

}

.call_btn {
    height: 70px;
    width: 250px;
    background-color:$colorPrincipal;
    border-style: none;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 10px;
    margin-top: 20px;
    transition: all 0.3s;

}

.call_btn:hover {
    transform: scale(1.1);
}

button {
    color: black;
    cursor: pointer;
}


/* fin estilos seccion4*/